%td.center{style: "width: 60px;"}
  = link_to user_path(user.id) do
    %i.fa.fa-eye.text-dark
    %span.hidden-text Show
%td.center{style: "width: 60px;"}
  = link_to edit_user_path(user.id) do
    %i.fa.fa-edit.text-dark
    %span.hidden-text Edit
%td.center{style: "width: 60px;"}
  = link_to user_path(user.id), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete } do
    %i.fa.fa-trash.text-dark
    %span.hidden-text Destroy
