%td.center
  %td
    = link_to user_path(user.id), class: 'icon-link' do
      %i.fa.fa-eye
      %span.hidden-text Show
  %td
    = link_to edit_user_path(user.id), class: 'icon-link' do
      %i.fa.fa-edit
      %span.hidden-text Edit
  %td
    = link_to user_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon-link' do
      %i.fa.fa-trash
      %span.hidden-text Destroy
