%table.table.table-sm
  - results.each do |item|
    %tbody
      %tr
        %td.center{style: "width: 110px;"}
          = ResultDecorator.decorate(item).profile_image
        %td
          = ResultDecorator.decorate(item).formatted_info
        %td.align-middle.float-right{style: "width: 170px;"}
          = render 'buttons_actions', user: item
