= link_to new_user_path, class: "btn btn-primary rounded-circle position-fixed d-flex align-items-center justify-content-center shadow-lg", style: "width: 60px; height: 60px; font-size: 24px; right: 20px; bottom: 20px;" do
  %i.fa.fa-plus
