%nav.navbar.bg-body-tertiary
  .container-fluid
    %ul.navbar-nav
      %li.nav-item
        %h4.font-weight-bold Github Profile Indexer
    %ul.navbar-nav
      %li.nav-item
        %button.btn.ms-auto{ type: 'button', onclick: "window.location.href='#{root_path}'", aria: { current: 'page' } }
          %i.fa-brands.fa-github.fa-2x
